.header{
    position: fixed;
    font-family: 'Open Sans';
    display: flex;
    align-items: center;
    font-size: 22px;
    height: 3rem;
    background-color: #fff;
    box-shadow: 1rem 0.5rem 1rem 0px rgba(0,0,0,.175);
    width: 100%;
    z-index: 10;
    padding: 0px 10px;

    .toggle-sidebar{
        display: block;
        background-color: #fff;
        border: none;
        font-size: 16px;

        .hide{
            visibility: hidden;
        }
    }

    .header-title{
        display: flex;
        justify-content: space-between;
        font-size: 22px;
        font-family: "Open Sans";
        padding: 10px;
        width: 250px;
        i {
            margin-right: 10px;
        }
    }

    .dropdown { margin-left: auto;}

    .header-user{
        color: #4e4e4e;
        span {
            color: #000;
        }
    }

    .nav-link{
        padding: 0;
        font-size: 16px;
        color: #313131;
    }
}

.wrapper{
    margin-right: 1rem;
    margin-left: 265px;
    padding-top: 4rem;
    transition: 0.5s;

    &.full{
        margin: 1rem;
        margin-top: 0;
    }
}